---
import { siteConfig } from '../data/site.config.js';
const { gallery } = siteConfig;
---
<section id="gallery" class="photo-sequence">
  {gallery.map((item) => (
    <figure class:list={[
      'photo-block',
      'reveal',
      item.orientation === 'landscape' ? 'photo-block--landscape' : 'photo-block--portrait',
      { 'photo-block-placeholder': item.placeholder },
    ]}>
      {item.placeholder ? (
        <div class="photo-block-frame placeholder">
          <span>More photos<br />coming soon</span>
        </div>
      ) : (
        <div class="photo-block-frame">
          <img src={item.src} alt={item.alt} />
        </div>
      )}
      <figcaption>
        <span class="cap-index">{item.index}</span>
        <span class="cap-title">{item.caption}</span>
      </figcaption>
    </figure>
  ))}
</section>
