---
import { siteConfig } from '../data/site.config.js';
const landscapeItems = siteConfig.gallery.filter((item) => item.orientation === 'landscape');
---
<section id="gallery" class="photo-sequence">
  {landscapeItems.map((item) => (
    <figure class="photo-block reveal photo-block--landscape">
      <div class="photo-block-frame">
        <img src={item.src} alt={item.alt} />
      </div>
      <figcaption>
        <span class="cap-index">{item.index}</span>
        <span class="cap-title">{item.caption}</span>
      </figcaption>
    </figure>
  ))}
</section>
